* {
  margin: 0;
  padding: 0;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  font-family: tahoma;
}

.hero {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
}

.main-nav {
  list-style: none;
  float: right;
  margin-top: 70px;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}

.logo img {
  height: 100px;
  float: left;
  margin-top: 30px;
}

.main-nav li a:hover {
  color: orange;
  border-bottom: 2px solid orange;
  transition: all 0.2s ease-in;
  padding: 8px 0;
}

.btn {
  border: 1px solid orange;
  padding: 10px 30px;
  color: orange;
  text-decoration: none;
  border-radius: 12px;
  margin-right: 15px;
}

.btn-awesome {
  margin-top: 40px;
}

.btn-half {
  background-color: orange;
  color: white;
}

.btn-full:hover {
  background-color: orange;
  color: white;
  transition: all 0.2s ease-in;
}
